@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 1440px) { @content ; }
    }
    @else if $point == mobile {
        @media (max-width: 375px) { @content ; }
    }
}

$primarySoftBlue: hsl(215, 51%, 70%);
$primaryCyan: hsl(178, 100%, 50%);

$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$paragraph-size: 18px;

$outfit: 'Outfit', sans-serif;

